.main {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 7rem;
  background-color: var(--background-color);
  color: var(--dark-text-color);
}

.menuColumn {
  position: sticky;
  top: 4rem;
  height: fit-content;
  padding: 1rem;
  margin-left: 2rem;
}

.shortcutCategoryHeader {
  font-size: var(--small-paragraph-font-size);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.shortcutMenuSeparator {
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
  margin-bottom: 1rem;
}

.chartLink {
  display: block;
  color: var(--dark-text-color);
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: var(--small-paragraph-font-size);
}

.chartLink:hover {
  color: var(--primary-color);
}

.chartColumn {
  justify-self: start;
  width: 90%;
  margin: 0 2rem;
}

.title {
  font-size: var(--subtitle-font-size);
  margin-bottom: 1rem;
}

.subtext {
  font-size: var(--small-paragraph-font-size);
  margin-block: 2lvh;
  width: 50lvw;
}

.chartArea {
  width: 80%;
  max-width: 1000;
  margin: 0 0 2rem 0; /* Change from margin: 0 auto to align left */
  position: relative;
  aspect-ratio: 16/9;
  margin-bottom: 2rem;
}

.chartArea iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 892px) {
  .main {
    grid-template-columns: 1fr;
  }

  .menuColumn {
    position: static;
    margin: 1rem auto;
    width: 85%;
  }

  .chartColumn {
    width: 85%;
    margin: 2rem 2rem 0 2rem; /* Add left margin here too */
    row-gap: 2rem;
  }
  
  .chartArea {
    width: 100%;
    aspect-ratio: 16/9;
    margin: 0 0 2rem 0; /* Maintain left alignment on mobile */
  }

  .subtext {
    width: 80lvw;
  }
} 