.main {
  background-color: var(--background-color);
  width: 100%;
  padding-block-end: 5vh;
  padding-inline: 5lvw;
  grid-template-columns: 45lvw 45lvw;
  justify-content: center;
  column-gap: 3rem;
  display: grid;
}

@media only screen and (max-width: 760px) {
  .main {
    padding-inline: 0;
    grid-template-columns: 1fr;
    padding-block-end: 3vh;
  }
}
@media only screen and (max-width: 600px) {
  .main {
    grid-auto-rows: min-content;
  }
}
.title {
  grid-row: 1;
  margin-inline: 2lvw;
  font-size: var(--subtitle-font-size);
  font-weight: bold;
  text-align: center;
  margin-top: 2vh;
  color: #000000;
}
@media only screen and (max-width: 600px) {
  .title {
    display: grid;
    font-size: 20px;
    font-weight: 800;
  }
}

.horizontalInfoBox {
  margin-block-start: 5rem;
  position: relative;
  height: 20rem;
  width: 60%;
  display: grid;
  grid-template-rows: 4rem 1fr;
  grid-template-columns: 1fr 1fr;
  color: var(--light-text-color);
  padding: 2rem;
  border-radius: var(--blurb-border-radius);
}

@media only screen and (max-width: 760px) {
  .horizontalInfoBox {
    margin-block-start: 3lvh;
    grid-template-columns: 1fr;
    height: auto;
    width: 85lvw;
    justify-content: center;
    border-radius: var(--blurb-border-radius);
    text-align: center;
  }
}

.infoBox_rightAlign {
  justify-self: end;
}

.infoBox_leftAlign {
  justify-self: start;
}

@media only screen and (max-width: 760px) {
  .infoBox_leftAlign,
  .infoBox_rightAlign {
    justify-self: center;
  }
}

.leafImg {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translate(100%, -50%);
}

.schoolImg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transform: translate(-90%, 20%);
}

.mapImg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: translate(95%, -25%);
}

.lunchImg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transform: translate(5%, 80%);
}

.maskImg {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  transform: translate(50%, 90%);
}

@media only screen and (max-width: 1400px) {
  .maskImg {
    padding-right: 5lvw;
    right: 2rem;
  }
  .lunchImg,
  .mapImg {
    padding-right: 10lvw;
  }
  .schoolImg {
    padding-left: 10lvw;
  }
}

@media only screen and (max-width: 1130px) {
  .lunchImg,
  .mapImg {
    padding-right: 15lvw;
  }
  .schoolImg {
    padding-left: 15lvw;
  }
}

.leafImg {
  position: absolute;
}

@media only screen and (max-width: 760px) {
  .lunchImg,
  .mapImg,
  .schoolImg,
  .maskImg {
    display: none;
  }
  .leafImg {
    padding: 1lvw;
  }
}

@media only screen and (max-width: 600px) {
  .leafImg {
    display: none;
  }
}

.spanBothColumns {
  grid-column: span 2;
}

.spanBothColumns_box {
  grid-column: span 2;
}

@media only screen and (max-width: 760px) {
  .spanBothColumns_box {
    grid-column: span 1;
  }
}

.backgroundBlue {
  background-color: var(--covid-blue);
}

.backgroundGreen {
  background-color: var(--covid-green);
}

.backgroundRed {
  background-color: var(--covid-red);
}

.rightAlign {
  justify-self: end;
}

.leftAlign {
  justify-self: start;
}

.centerAlign {
  justify-self: center;
}

.verticalInfoBox {
  position: relative;
  height: max-content;
  width: 55%;
  display: grid;
  padding: 2rem;
  color: var(--light-text-color);
  margin-block-start: 2rem;
  border-radius: var(--blurb-border-radius);
  justify-content: center;
  row-gap: 2rem;
  grid-auto-rows: max-content;
}

@media only screen and (max-width: 1570px) {
  .verticalInfoBox {
    width: 65%;
  }
}

@media only screen and (max-width: 1000px) {
  .verticalInfoBox {
    width: 85%;
  }
}

@media only screen and (max-width: 760px) {
  .verticalInfoBox {
    height: max-content;
    width: 95%;
    padding: 2rem;
    color: var(--light-text-color);
    margin-block-start: 3rem;
    border-radius: var(--blurb-border-radius);
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .verticalInfoBox {
    grid-column: 1 / span 2;
    justify-self: center;
  }
}

.infoHeader {
  font-weight: 500;
  font-size: var(--big-paragraph-font-size);
}

.infoText {
  background: rgba(255, 255, 255, 0.3);
  padding: 2rem;
  width: 25rem;
  border-radius: var(--blurb-border-radius);
  font-size: var(--small-paragraph-font-size);
  text-align: left;
  place-self: center;
}
@media only screen and (max-width: 1570px) {
  .infoText {
    width: 22lvw;
    padding: 2rem;
    font-size: var(--smaller-paragraph-font-size);
  }
}

@media only screen and (max-width: 1165px) {
  .infoText {
    width: 85%;
  }
}

@media only screen and (max-width: 1000px) {
  .infoText {
    width: 95%;
    padding: 1.5rem;
  }
  .schoolImg {
    padding-left: 30lvw;
  }
  .mapImg {
    padding-right: 35lvw;
  }
  .horizontalInfoBox {
    width: 70%;
  }
}

@media only screen and (max-width: 760px) {
  .infoText {
    margin-bottom: 2lvh;
    width: 65lvw;
    font-size: var(--small-paragraph-font-size);
  }
}

.verticalInfoWidth {
  width: 20lvw;
}

@media only screen and (max-width: 1570px) {
  .verticalInfoWidth {
    width: 25lvw;
  }
}

@media only screen and (max-width: 1000px) {
  .verticalInfoWidth {
    width: 25lvw;
  }
}

@media only screen and (max-width: 760px) {
  .verticalInfoWidth {
    width: 35lvw;
  }
}

@media only screen and (max-width: 600px) {
  .verticalInfoWidth {
    width: 60lvw;
  }
}
